h1 {
    text-align: center;
}

.contenedor_padre {
    display: flex;
}

.container {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product {
    transition: all 1s;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 150px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product h3 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.product p {
    margin: 5px 0;
    color: #777;
}

.product p:first-child {
    font-weight: bold;
}

.product p:nth-child(odd) {
    font-weight: bold;
    color: #555;
}

.product p:last-child {
    font-size: 18px;
    color: #ff6600;
}

.product:hover {
    transform: scale(1.05);
    /* Escalamos el elemento al 105% en el hover */
}

body {
    font-family: Arial, sans-serif;
}

form {
    width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    width: 100%;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}